@inherits USNStarterKit.ViewPages.USNViewPage<USNWebsite.USNModels.USNRegisterFormViewModel>

@if (Model.DisplayForm)
{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Umbraco.Content(Model.GlobalSettingsID);

    var containerId = "Container_" + Model.UniqueID;
    var errorId = "Error_" + Model.UniqueID;
    var ajaxLoadingId = "Loading_" + Model.UniqueID;
    var formId = "Form_" + Model.UniqueID;
    var submissionId = "SubmissionMessage_" + Model.UniqueID;

    <div class="form register-form ajax-wrap">
        <div class="inner @(Model.FormBgColorClass) @(Model.FormColorLabel)-text">
            @using (Ajax.BeginForm("HandleRegisterSubmit", "USNMemberSurface", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = containerId,
                LoadingElementId = ajaxLoadingId
            }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("GlobalSettingsID", Model.GlobalSettingsID)
                @Html.Hidden("UniqueID", Model.UniqueID)

                if (Model.FormHeading.HasValue() || Model.FormIntroduction.HasValue() || Model.FormSecondaryHeading.HasValue())
                {
                    <div class="info short-margin-bottom">

                        @if (Model.FormSecondaryHeading.HasValue())
                        {
                            @Html.Raw(String.Format("<{0} class=\"secondary-heading {1} {2}-secondary-heading\">{3}</{0}>", Model.FormSecondaryHeading.HeadingTag, Model.FormSecondaryHeading.Style, Model.FormColorLabel, Model.FormSecondaryHeading.Text))
                        }

                        @if (Model.FormHeading.HasValue())
                        {
                            @Html.Raw(String.Format("<{0} class=\"heading main {1} {2}-heading\">{3}</{0}>", Model.FormHeading.HeadingTag, Model.FormHeading.Style, Model.FormColorLabel, Model.FormHeading.Text))
                        }

                        @if (Model.FormIntroduction.HasValue())
                        {
                            <div class="text @(Model.FormColorLabel)-text">
                                @Html.Raw(Model.FormIntroduction)
                            </div>
                        }

                    </div>
                }

                <div id="@containerId" class="form-inner">
                    <div class="alert alert-danger mb-3" id="@errorId" style="display:none">
                    </div>
                    <div id="@formId">
                        <fieldset>
                        
                            <div class="form-group">
                                <label for="RegisterModel_Name" class="control-label">
                                    @Umbraco.GetDictionaryValue("USN Form Name Label")
                                </label>
                                @Html.TextBoxFor(x => Model.RegisterModel.Name, new { @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Name Label"), placeholder = Umbraco.GetDictionaryValue("USN Form Name Label") })
                            </div>
                            @if(!Model.RegisterModel.UsernameIsEmail)
                            {
                                <div class="form-group">
                                    <label for="RegisterModel_Email" class="control-label">
                                        @Umbraco.GetDictionaryValue("USN Form Username Label")
                                    </label>
                                    @Html.TextBoxFor(x => Model.RegisterModel.Username, new { @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Username Label"), placeholder = Umbraco.GetDictionaryValue("USN Form Username Label") })
                                </div>
                            }
                            <div class="form-group">
                                <label for="RegisterModel_Email" class="control-label">
                                    @Umbraco.GetDictionaryValue("USN Form Email Address Label") <em class="req">*</em>
                                </label>
                                @Html.TextBoxFor(x => Model.RegisterModel.Email, new { autocapitalize = "off", @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Email Address Label"), placeholder = Umbraco.GetDictionaryValue("USN Form Email Address Label") })
                                @Html.ValidationMessageFor(x => Model.RegisterModel.Email, Umbraco.GetDictionaryValue("USN Form Email Address Validation"))
                            </div>
                                
                            @if (Model.RegisterModel.MemberProperties != null)
                            {
                                @*
                                    This code will only displays properties marked as "Member can edit" on the "Property settings" of the member property.
                                *@
                                for (var i = 0; i < Model.RegisterModel.MemberProperties.Count; i++)
                                {
                                    @*
                                        By default this will render a textbox but if you want to change the editor template for this property you can
                                        easily change it. For example, if you wanted to render a custom editor for this field called "MyEditor" you would
                                        create a file at ~/Views/Shared/EditorTemplates/MyEditor.cshtml", then you will change the next line of code to
                                        render your specific editor template like:
                                        @Html.EditorFor(x => Model.RegisterModel.MemberProperties[i].Value, "MyEditor")
                                    *@

                                    <div class="form-group">
                                        <label class="control-label">
                                            @Model.RegisterModel.MemberProperties[i].Name
                                        </label>
                                        @Html.TextBoxFor(x => Model.RegisterModel.MemberProperties[i].Value, new { @class = "form-control" })
                                        @Html.HiddenFor(m => Model.RegisterModel.MemberProperties[i].Alias)
                                    </div>

                                }
                            }

                            <div class="form-group">
                                <label for="RegisterModel_Password" class="control-label">
                                    @Umbraco.GetDictionaryValue("USN Form Password Label") <em class="req">*</em>
                                </label>
                                @Html.PasswordFor(x => Model.RegisterModel.Password, new { @class = "form-control", aria_label = Umbraco.GetDictionaryValue("USN Form Password Label"), placeholder = Umbraco.GetDictionaryValue("USN Form Password Label") })
                                @Html.ValidationMessageFor(x => Model.RegisterModel.Password, Umbraco.GetDictionaryValue("USN Form Password Validation"))

                                <!-- Show hide password -->
                                <div class="show-password">
                                    <label>
                                        <input type="checkbox" onclick="showPasswordFunction('RegisterModel_Password')">
                                        <span>
                                            <i class="icon usn_ion-md-eye"></i>
                                            <i class="icon usn_ion-md-eye-off"></i>
                                        </span>
                                    </label>
                                </div>
                                <!--// Show hide password -->
                            </div>

                            @if (globalSettings.GoogleReCaptchasiteKey.HasValue() && globalSettings.GoogleReCaptchasecretKey.HasValue())
                            {
                                <div class="g-recaptcha" data-sitekey="@globalSettings.GoogleReCaptchasiteKey" data-size="@Model.CaptchaDataSize"></div>
                            }

                            @Html.HiddenFor(m => Model.RegisterModel.UsernameIsEmail)
                            @Html.HiddenFor(m => Model.Info)
                            @Html.HiddenFor(m => Model.CurrentPageId)

                        </fieldset>
                        <fieldset>
                            <button role="button" class="btn @Model.FormButtonColorClass @Model.FormButtonHoverColorClass @(Model.FormButtonColorLabel)-btn-text @(Model.FormButtonColorLabel)-btn-borders" type="submit">
                                <span></span>
                                @(Model.FormButtonText.HasValue() ? Model.FormButtonText : Umbraco.GetDictionaryValue("USN Register Form Button Text"))
                            </button>
                        </fieldset>
                    </div>
                    <div class="ajax-loading" id="@ajaxLoadingId" style="display:none">
                        <div class="loading">
                            <span class="message">@Umbraco.GetDictionaryValue("USN Register Form Sending Message")</span>
                        </div>
                    </div>
                </div>
                <div id="@submissionId" style="display:none">
                    <div class="alert alert-success"><div class="info">@Html.Raw(Model.FormSubmissionMessage)</div></div>
                </div>
            }
        </div>
    </div>

}
else
{
    if (Model.ConfirmationSuccess)
    {
        <div class="alert alert-success"><div class="info">@Umbraco.GetDictionaryValue("USN Register Form Email Confirmed")</div></div>
    }
    else
    {
        <div class="alert alert-danger"><div class="info">@Umbraco.GetDictionaryValue("USN Register Form Email Not Confirmed")</div></div>
    }
}