@inherits USNStarterKit.ViewPages.USNViewPage<IUsn_Cmp_IntroOutro>

@{
    if (Model != null && Model.DisplayIntro)
    {
        USNAnimation animation = (USNAnimation)ViewData["animation"];
        string colorLabel = ViewData["backgroundColorLabel"].ToString();
        Usnstyle websiteStyle = (Usnstyle)Umbraco.Content(ViewData["websiteStyleId"]);
        string textAlignmentClass = Model.IntroTextAlignment.HasValue() ? Model.IntroTextAlignment : "justify-content-start text-left";

        <!-- Introduction -->
        <div class="component-introduction row @textAlignmentClass @animation.AnimationClass" data-os-animation="@animation.AnimationStyle" data-os-animation-delay="@animation.AnimationDelay" data-os-animation-duration="@animation.AnimationDuration">
            <div class="info col">
                @if (Model.IntroSecondaryHeading.HasValue())
                {
                    @Html.Raw(String.Format("<{0} class=\"secondary-heading {1} {2}-secondary-heading\">{3}</{0}>", Model.IntroSecondaryHeading.HeadingTag, Model.IntroSecondaryHeading.Style, colorLabel, Model.IntroSecondaryHeading.Text))
                }
                @if (Model.IntroHeading.HasValue())
                {
                    @Html.Raw(String.Format("<{0} class=\"heading {1} main {2}-heading\">{3}</{0}>", Model.IntroHeading.HeadingTag, Model.IntroHeading.Style, colorLabel, Model.IntroHeading.Text))
                }
                @if (Model.IntroText.HasValue())
                {
                    <div class="text @(colorLabel)-text">
                        @Html.Raw(Model.IntroText)
                    </div>
                }
                @if (Model.IntroButtons.HasValue())
                {
                    <p class="link">
                        @foreach (var button in Model.IntroButtons)
                        {
                            if (USNThemeService.DisplayLink(button))
                            {
                                string buttonBgClass = USNThemeService.GetBackgroundColorClass(button.color.sortOrder, "button", websiteStyle);
                                string buttonBgHoverClass = USNThemeService.GetBackgroundColorClass(button.color.sortOrder, "buttonHover", websiteStyle);

                                <a class="btn @button.sizeStyle @buttonBgClass @buttonBgHoverClass @(button.color.label)-text @(button.color.label)-borders" href="@button.link.LinkUrl" @Html.Raw(button.link.LinkTarget) @Html.Raw(button.link.LinkTitle)>
                                    <span></span>
                                    @Html.Raw(button.icon)@Html.Raw(button.link.LinkText)@Html.Raw(button.link.LinkTargetIcon)
                                </a>
                            }
                        }
                    </p>
                }
            </div>
        </div>
        <!--// Introduction -->
    }
}

