@inherits USNStarterKit.ViewPages.USNViewPage

@{
    int currentPageNo;

    if (!int.TryParse(Request.QueryString["page"], out currentPageNo))
    {
        currentPageNo = 1;
    }

    int totalPageCount = (int)ViewData["totalPageCount"];

    int pagesPerGroup = 3;

    string url = HttpUtility.UrlDecode(Request.Url.ToString());

    <nav id="pagination">
        <ul class="pagination justify-content-center">
            @if (currentPageNo > 1)
            {
                url = url.ReplaceQueryStringItem("page", (currentPageNo - 1).ToString());

                <li class="page-item prev">
                    <a href="@url" class="page-link" title="@Umbraco.GetDictionaryValue("USN Listing Navigation Previous")"><i class="icon"></i></a>
                </li>

                if (currentPageNo > pagesPerGroup)
                {
                    url = url.ReplaceQueryStringItem("page", currentPageNo % pagesPerGroup == 0 ? (currentPageNo - pagesPerGroup).ToString() : ((currentPageNo / pagesPerGroup) * pagesPerGroup).ToString());

                    <li class="page-item"><a href="@url">...</a></li>
                }
            }
            @{
                int pagesCount = 0;
                int startPage = 1;

                if (currentPageNo <= pagesPerGroup)
                {
                    startPage = 1;
                }
                else if (currentPageNo % pagesPerGroup > 0)
                {
                    startPage = currentPageNo - (currentPageNo % pagesPerGroup) + 1;
                }
                else if (currentPageNo % pagesPerGroup == 0)
                {
                    startPage = (currentPageNo - pagesPerGroup) + 1;
                }

                for (int i = startPage; i < totalPageCount + 1; i++)
                {
                    if (pagesCount == pagesPerGroup)
                    {
                        break;
                    }
                    url = url.ReplaceQueryStringItem("page", i.ToString());
                    string pageClass = i == currentPageNo ? "active disabled" : string.Empty;

                    <li class="page-item @pageClass">
                        <a href="@url" class="page-link">@i</a>
                    </li>

                    pagesCount += 1;
                }
            }
            @{

                int totalGroups = 0;

                if (totalPageCount % pagesPerGroup == 0)
                {
                    totalGroups = totalPageCount / pagesPerGroup;
                }
                else
                {
                    totalGroups = totalPageCount / pagesPerGroup + 1;
                }

                int currentGroup = 0;

                if (currentPageNo % pagesPerGroup == 0)
                {
                    currentGroup = currentPageNo / pagesPerGroup;
                }
                else
                {
                    currentGroup = currentPageNo / pagesPerGroup + 1;
                }


                if (totalGroups != currentGroup)
                {

                    if (currentPageNo % pagesPerGroup == 0)
                    {
                        url = url.ReplaceQueryStringItem("page", (currentPageNo + 1).ToString());
                    }
                    else
                    {
                        int liPageNumber = (((currentPageNo / pagesPerGroup) + 1) * pagesPerGroup) + 1;
                        url = url.ReplaceQueryStringItem("page", liPageNumber.ToString());
                    }

                    <li class="page-item"><a href="@url">...</a></li>
                }
            }
            @if (currentPageNo < totalPageCount)
            {
                url = url.ReplaceQueryStringItem("page", (currentPageNo + 1).ToString());
                <li class="page-item next">
                    <a href="@url" class="page-link" title="@Umbraco.GetDictionaryValue("USN Listing Navigation Next")"><i class="icon"></i></a>
                </li>
            }
        </ul>
    </nav>

}
