@inherits USNStarterKit.ViewPages.USNViewPage<USNStarterKit.Models.USNBaseViewModel>

@{
    Usnnavigation navigation = (Usnnavigation)Model.Navigation;
    var routeCultures = USNThemeService.GetRootCultures();

    if ((navigation.SecondaryNavigation != null && navigation.SecondaryNavigation.Any()) ||
        (navigation.MultilingualConfiguration.HasValue() && navigation.MultilingualConfiguration == "multitenant" && navigation.LanguageNavigation != null && navigation.LanguageNavigation.Any()) ||
        (navigation.MultilingualConfiguration.HasValue() && navigation.MultilingualConfiguration == "onetoone" && routeCultures != null && routeCultures.Count() > 1) ||
        (!Umbraco.MemberIsLoggedOn() && navigation.LoggedOutMembersNavigation != null && navigation.LoggedOutMembersNavigation.Any()) ||
        Umbraco.MemberIsLoggedOn())
    {
        Usnstyle websiteStyle = (Usnstyle)Model.WebsiteStyle;

        <nav aria-label="Secondary Navigation" class="secondary nav-dropdown @websiteStyle.StyleColors.navDropdownBackgroundClass">
            <ul>
                @if (navigation.SecondaryNavigation != null && navigation.SecondaryNavigation.Any())
                {
                    foreach (var secNavItem in navigation.SecondaryNavigation)
                    {
                        if (USNThemeService.DisplayLink(secNavItem))
                        {
                            <li><span><a href="@secNavItem.link.LinkUrl" @Html.Raw(secNavItem.link.LinkTarget) @Html.Raw(secNavItem.link.LinkTitle)>@Html.Raw(secNavItem.icon)@Html.Raw(secNavItem.link.LinkText)@Html.Raw(secNavItem.link.LinkTargetIcon)</a></span></li>
                        }
                    }
                }
                @if (Umbraco.MemberIsLoggedOn())
                {
                    var currentMember = Umbraco.MembershipHelper.GetCurrentMember();
                    var providerStatus = currentMember?.GetProperty("providerStatus")?.Value<string>();
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="myAccountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon usn_ion-md-contact before"></i>@Context.User.Identity.Name</a>


                        @if (navigation.LoggedInMembersNavigation != null)
                        {
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="myAccountDropdown">
                                @foreach (var memNavItem in navigation.LoggedInMembersNavigation)
                                {
                                    if (USNThemeService.DisplayLink(memNavItem))
                                    {
                                        if (memNavItem.link.LinkUrl == "/products/" || memNavItem.link.LinkUrl == "/orders-list/" || memNavItem.link.LinkUrl == "/provider-wallet/")
                                        {
                                            if (providerStatus == "Approved")
                                            {
                                                <a class="dropdown-item" href="@memNavItem.link.LinkUrl" @Html.Raw(memNavItem.link.LinkTarget) @Html.Raw(memNavItem.link.LinkTitle)>@Html.Raw(memNavItem.icon)@memNavItem.link.LinkText@Html.Raw(memNavItem.link.LinkTargetIcon)</a>
                                            }
                                        }
                                        else if (memNavItem.link.LinkUrl == "/provider-registration/")
                                        {
                                            if (providerStatus != "Approved")
                                            {
                                                <a class="dropdown-item" href="@memNavItem.link.LinkUrl" @Html.Raw(memNavItem.link.LinkTarget) @Html.Raw(memNavItem.link.LinkTitle)>@Html.Raw(memNavItem.icon)@memNavItem.link.LinkText@Html.Raw(memNavItem.link.LinkTargetIcon)</a>
                                            }
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="@memNavItem.link.LinkUrl" @Html.Raw(memNavItem.link.LinkTarget) @Html.Raw(memNavItem.link.LinkTitle)>@Html.Raw(memNavItem.icon)@Html.Raw(memNavItem.link.LinkText)@Html.Raw(memNavItem.link.LinkTargetIcon)</a>
                                        }
                                    }
                                }
                                <a class="dropdown-item" href="@Url.Action("Logout", "USNMemberSurface", new { LogoutRedirect = Model.Content.Url() }, null)"><i class="icon usn_ion-md-log-out before"></i>@Umbraco.GetDictionaryValue("USN Members Navigation Logout")</a>
                            </div>
                        }
                    </li>
                }
                else if (!Umbraco.MemberIsLoggedOn() && (navigation.LoggedOutMembersNavigation != null && navigation.LoggedOutMembersNavigation.Any()))
                {
                    string navigationHeading = navigation.MembersNavigationHeading.HasValue() ? navigation.MembersNavigationHeading : Umbraco.GetDictionaryValue("USN Members Navigation Default Heading");

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="myAccountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon usn_ion-md-contact before"></i><span>@navigationHeading</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="myAccountDropdown">
                            @foreach (var memNavItem in navigation.LoggedOutMembersNavigation)
                            {
                                if (USNThemeService.DisplayLink(memNavItem))
                                {
                                    <a class="dropdown-item" href="@memNavItem.link.LinkUrl" @Html.Raw(memNavItem.link.LinkTarget) @Html.Raw(memNavItem.link.LinkTitle)>@Html.Raw(memNavItem.icon)@Html.Raw(memNavItem.link.LinkText)@Html.Raw(memNavItem.link.LinkTargetIcon)</a>
                                }
                            }
                        </div>
                    </li>
                }

                @if (navigation.MultilingualConfiguration.HasValue() && navigation.LanguageNavigation != null && navigation.LanguageNavigation.Any())
                {
                    bool webPEnabled = Convert.ToBoolean(ConfigurationManager.AppSettings["USN_WEBP_Enabled"]);

                    if (navigation.MultilingualConfiguration == "multitenant")
                    {
                        string heading = navigation.LanguageHeading.HasValue() ? navigation.LanguageHeading : Umbraco.GetDictionaryValue("USN Language Navigation");

                        <li class="language-selector dropdown">
                            <a href="#" class="dropdown-toggle" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (navigation.LanguageHeadingIconImage.HasValue() && navigation.LanguageHeadingIconImage.Value<string>("umbracoExtension") != "svg")
                                {<picture>
                                        @if (webPEnabled)
                                        {
                                            <source type="image/webp" data-srcset="@navigation.LanguageHeadingIconImage.Url()?format=webp&height=140">
                                        }
                                        <img class="lazyload" src="@navigation.LanguageHeadingIconImage.Url()?height=14" data-src="@navigation.LanguageHeadingIconImage.Url()?height=140" alt="@(navigation.LanguageHeadingIconImage.Value<string>("alternativeText"))">
                                    </picture>}
                                else if (navigation.LanguageHeadingIconImage.HasValue() && navigation.LanguageHeadingIconImage.Value<string>("umbracoExtension") == "svg")
                                {<img class="lazyload" src="@navigation.LanguageHeadingIconImage.Url()" alt="@(navigation.LanguageHeadingIconImage.Value<string>("alternativeText"))">}<span>@heading</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                                @foreach (var languageNavItem in navigation.LanguageNavigation)
                                {
                                    if (USNThemeService.DisplayLink(languageNavItem))
                                    {
                                        <a class="dropdown-item" href="@languageNavItem.link.LinkUrl" @Html.Raw(languageNavItem.link.LinkTarget) @Html.Raw(languageNavItem.link.LinkTitle)>
                                            @if (languageNavItem.image.HasValue() && languageNavItem.image.Value<string>("umbracoExtension") != "svg")
                                            {<picture>
                                                    @if (webPEnabled)
                                                    {
                                                        <source type="image/webp" data-srcset="@languageNavItem.image.Url()?format=webp&height=140">
                                                    }
                                                    <img class="lazyload" src="@languageNavItem.image.Url()?height=14" data-src="@languageNavItem.image.Url()?height=140" alt="@(languageNavItem.image.Value<string>("alternativeText"))">
                                                </picture>}
                                            else if (languageNavItem.image.HasValue() && languageNavItem.image.Value<string>("umbracoExtension") == "svg")
                                            {<img class="lazyload" src="@languageNavItem.image.Url()" alt="@(languageNavItem.image.Value<string>("alternativeText"))">}<span>@Html.Raw(languageNavItem.link.LinkText)</span>
                                        </a>
                                    }
                                }
                            </div>
                        </li>
                    }
                    else if (navigation.MultilingualConfiguration == "onetoone")
                    {
                        if (routeCultures != null && routeCultures.Count() > 1)
                        {
                            var site = Model.Content.Root();

                            string currentCulture = Thread.CurrentThread.CurrentUICulture.Name;
                            string currentLanguageName = site.Value("languageName", fallback: Fallback.ToDefaultValue, defaultValue: Thread.CurrentThread.CurrentUICulture.NativeName);
                            string currentFlagUrl = site.Value<IPublishedContent>("languageFlag")?.Url() != null ? site.Value<IPublishedContent>("languageFlag").Url() : Umbraco.GetFlag(currentCulture);

                            <li class="language-selector dropdown">
                                <a href="#" class="dropdown-toggle" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if (Path.GetExtension(currentFlagUrl) != "svg")
                                    {<picture>
                                            @if (webPEnabled)
                                            {
                                                <source type="image/webp" data-srcset="@currentFlagUrl?format=webp&height=140">
                                            }
                                            <img class="lazyload" src="@currentFlagUrl?height=14" data-src="@currentFlagUrl?height=140" alt="@currentLanguageName">
                                        </picture>}
                                    else
                                    {<img class="lazyload" src="@currentFlagUrl" data-src="currentFlagUrl" alt="@currentLanguageName">}<span>@currentLanguageName</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                                    @foreach (var language in routeCultures)
                                    {
                                        if (currentCulture != language.CultureInfo.Name)
                                        {
                                            var title = site.Value("languageName", fallback: Fallback.ToDefaultValue, defaultValue: language.CultureInfo.NativeName.ToString(), culture: language.CultureInfo.Name);
                                            var flagUrl = site.Value<IPublishedContent>("languageFlag", culture: language.CultureInfo.Name)?.Url() != null ? site.Value<IPublishedContent>("languageFlag", culture: language.CultureInfo.Name).Url() : Umbraco.GetFlag(language.CultureInfo.Name);

                                            <a class="dropdown-item" href="@(!Model.Content.Cultures.ContainsKey(language.CultureInfo.Name) ? site.Url(language.CultureInfo.Name) : Model.Content.Url(language.CultureInfo.Name) )">
                                                @if (Path.GetExtension(currentFlagUrl) != "svg")
                                                {<picture>
                                                        @if (webPEnabled)
                                                        {
                                                            <source type="image/webp" data-srcset="@flagUrl?format=webp&height=140">
                                                        }
                                                        <img class="lazyload" src="@flagUrl?height=14" data-src="@flagUrl?height=140" alt="@title">
                                                    </picture>}
                                                else
                                                {<img class="lazyload" src="@flagUrl" data-src="currentFlagUrl" alt="@title">}
                                                <span>@Html.Raw(title)</span>
                                            </a>
                                        }

                                    }
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
    }
}
