@inherits USNStarterKit.ViewPages.USNViewPage<UsnblogRss>

@{
    int pageSize = Model.BlogPostsToReturn.HasValue() ? Model.BlogPostsToReturn : -1;

    // get landing page
    var landing = Model.AncestorOrSelf(UsnblogLandingPage.ModelTypeAlias);

    // get all posts
    USNSearchResults searchResult = USNBlogService.GetBlogListing(landing.Id, null, 1, pageSize);

    DateTime lastPubDate = searchResult != null && searchResult.SearchResults.Any() ? searchResult.SearchResults.FirstOrDefault().Value<DateTime>("postDate") : DateTime.Now;

    // get blog url
    string blogUrl = Request.Url.Scheme + "://" + Request.Url.Host;

    Response.Clear();
    Response.ContentType = "text/xml";
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    @Html.Raw("<?xml version=\"1.0\" encoding=\"UTF-8\" ?>")
    <rss version="2.0"
         xmlns:content="http://purl.org/rss/1.0/modules/content/"
         xmlns:wfw="http://wellformedweb.org/CommentAPI/"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:atom="http://www.w3.org/2005/Atom"
         xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
         xmlns:slash="http://purl.org/rss/1.0/modules/slash/">
        <channel>
            <title>@Model.RssTitle</title>
            <description>@Model.RssDescription</description>
            <copyright>@Model.RssCopyright @DateTime.Now.Year</copyright>
            @Html.Raw("<link>")
            @Html.Raw(blogUrl)
            @Html.Raw("</link>")
            <lastBuildDate>@lastPubDate.ToString("ddd, dd MMMM yyyy HH:mm:ss")</lastBuildDate>
            <pubDate>@lastPubDate.ToString("ddd, dd MMMM yyyy HH:mm:ss")</pubDate>

            @foreach (var p in searchResult.SearchResults)
            {
                string postName = p.HasValue("onPageTitle") ? p.Value<string>("onPageTitle") : p.Name;

                var metaDescription = p.Value<USNSEOMeta>("titleAndDescription") != null ? p.Value<USNSEOMeta>("titleAndDescription").Description : String.Empty;

                <item>
                    <title>@postName</title>
                    <description><![CDATA[@metaDescription <a href="@blogUrl@p.Url()">@Umbraco.GetDictionaryValue("USN Blog RSS Continue Reading")</a>]]></description>
                    @Html.Raw("<link>")
                    @Html.Raw(blogUrl + p.Url())
                    @Html.Raw("</link>")
                    <pubDate>@(p.Value<DateTime>("postDate").ToString("ddd, dd MMMM yyyy HH:mm:ss"))</pubDate>
                </item>
            }
        </channel>
    </rss>
}



