@inherits USNStarterKit.ViewPages.USNViewPage<USNStarterKit.Models.USNBaseViewModel>

@{
    Layout = "USNMaster.cshtml";
    Usnstyle websiteStyle = (Usnstyle)Model.WebsiteStyle;
    USNPageLayoutSettings pageLayoutSettings = Umbraco.GetPageLayoutSettings(Model.Content.Value<string>("pageLayout"));
    int blogLandingPageID = Model.Content.IsDocumentType(UsnblogLandingPage.ModelTypeAlias) ? Model.Content.Id : Model.Content.AncestorOrSelf(UsnblogLandingPage.ModelTypeAlias).Id;
}

@section BodyTag
{
    @Html.Partial(Model.ThemeFolder +"/MiscPageElements/BodyTag", Model, new ViewDataDictionary { { "pageLayout", pageLayoutSettings.PageLayout } })
}

@Html.Partial(Model.ThemeFolder + "/BlockContainers/BlockComponents", Model, new ViewDataDictionary { { "blockFieldAlias", "aboveListing" }, { "pageLayout", "pageLayoutFull" } })

@if (pageLayoutSettings.PageLayout != "pageLayoutFull")
{
    @:<section class="content component @websiteStyle.StyleColors.contentBackgroundClass"><div class="container">@Html.Partial(Model.ThemeFolder + "/MiscPageElements/PageTitle", Model)<div class="row justify-content-between">

    <!-- Content column -->
    <div class="@pageLayoutSettings.FirstDivColumnClass">

        @Html.Action("index", "USNBlogListingSurface", new { FullViewPath = Model.ThemeFolder + "/Blog/BlogListing", ThemeFolder = Model.ThemeFolder })

    </div>
    <!--// Content column -->
}

    @if (pageLayoutSettings.PageLayout == "pageLayoutLeft" || pageLayoutSettings.PageLayout == "pageLayoutRight" || pageLayoutSettings.PageLayout == "pageLayoutCenterNavLeft" || pageLayoutSettings.PageLayout == "pageLayoutCenterNavRight")
    {
        <!-- Second column -->
        <div class="@pageLayoutSettings.SecondDivColumnClass">
            @if (pageLayoutSettings.PageLayout == "pageLayoutLeft" || pageLayoutSettings.PageLayout == "pageLayoutRight" || pageLayoutSettings.PageLayout == "pageLayoutCenterNavLeft")
            {
                @Html.Partial(Model.ThemeFolder + "/Blog/BlogCategoryNavigation", Model, new ViewDataDictionary { { "blogLandingPageID", blogLandingPageID } })
            }
            @if (pageLayoutSettings.PageLayout == "pageLayoutLeft" || pageLayoutSettings.PageLayout == "pageLayoutRight" || pageLayoutSettings.PageLayout == "pageLayoutCenterNavRight")
            {
                @Html.Partial(Model.ThemeFolder + "/BlockContainers/SitewidePods", Model)
            }
        </div>
        <!--// Second column -->
    }

    @if (pageLayoutSettings.PageLayout == "pageLayoutCenterNavLeft" || pageLayoutSettings.PageLayout == "pageLayoutCenterNavRight")
    {
        <!-- Third column -->
        <div class="@pageLayoutSettings.ThirdDivColumnClass">
            @if (pageLayoutSettings.PageLayout == "pageLayoutCenterNavRight")
            {
                @Html.Partial(Model.ThemeFolder + "/Blog/BlogCategoryNavigation", Model, new ViewDataDictionary { { "blogLandingPageID", blogLandingPageID } })
            }
            @if (pageLayoutSettings.PageLayout == "pageLayoutCenterNavLeft")
            {
                @Html.Partial(Model.ThemeFolder + "/BlockContainers/SitewidePods", Model)
            }
        </div>
        <!--// Third column -->
    }

    @if (pageLayoutSettings.PageLayout != "pageLayoutFull")
    {
    @:</div></div></section>
}

@if (pageLayoutSettings.PageLayout == "pageLayoutFull")
{
    <section class="content component @websiteStyle.StyleColors.contentBackgroundClass">
        <div class="container">

            @Html.Partial(Model.ThemeFolder + "/MiscPageElements/PageTitle", Model)

            <!-- Row -->
            <div class="row justify-content-between">

                <!-- Content column -->
                <div class="content-col col">
                    @Html.Action("index", "USNBlogListingSurface", new { FullViewPath = Model.ThemeFolder + "/Blog/BlogListing", ThemeFolder = Model.ThemeFolder })
                </div>
                <!--// Content column -->

            </div>
            <!--// Row -->

        </div>
    </section>
}

@Html.Partial(Model.ThemeFolder + "/BlockContainers/BlockComponents", Model, new ViewDataDictionary { { "blockFieldAlias", "belowListing" }, { "pageLayout", "pageLayoutFull" } })

@if (pageLayoutSettings.PageLayout == "pageLayoutFull")
{
    @Html.Partial(Model.ThemeFolder + "/BlockContainers/SitewidePods", Model)
}

