﻿@inherits USNStarterKit.ViewPages.USNViewPage<USNStarterKit.Models.USNBaseViewModel>
@using UmbracoVendr.App_Code.USNControllers;

@{
    USNProviderBaseController uSNProvider = new USNProviderBaseController();
    if (Model.Content.Root().IsDocumentType("providers"))
    {
        var baseDetails = uSNProvider.ProviderBaseDetails(Model);
        Model.HomeNode = baseDetails.HomeNode;
        Model.GlobalSettings = baseDetails.GlobalSettings;
        Model.Navigation = baseDetails.Navigation;
        Model.Footer = baseDetails.Footer;
        Model.WebsiteStyle = baseDetails.WebsiteStyle;
        Model.ThemeFolder = baseDetails.ThemeFolder;
    }

    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;
    Usnstyle websiteStyle = (Usnstyle)Model.WebsiteStyle;

    string textDirection = Model.Content.Value<string>("overrideTextDirection") != String.Empty ? Model.Content.Value<string>("overrideTextDirection") : globalSettings.GlobalTextDirection;
    textDirection = textDirection != String.Empty ? textDirection : "ltr";

    string backgroundImageStyle = USNThemeService.GetBackgroundImageStyle(websiteStyle.BodyBgimageOptions, websiteStyle.BodyBackgroundImage);

    string hrefLangTag = globalSettings.OverrideLanguageCodeReference.HasValue() ? globalSettings.OverrideLanguageCodeReference : Thread.CurrentThread.CurrentUICulture.Name;
}
<!DOCTYPE html>
<html dir="@textDirection" lang="@hrefLangTag" class="no-js usn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=2">
    <script src="~/scripts/libraries/jquery.min.js"></script>
    @Html.Partial(Model.ThemeFolder + "/WebsiteHeadSection/SEOPageHead", Model)
    @Html.Partial(Model.ThemeFolder + "/WebsiteHeadSection/StyleSheets", Model, new ViewDataDictionary { { "TextDirection", textDirection } })
    @Html.Partial(Model.ThemeFolder + "/WebsiteHeadSection/Icons", Model)
    @Html.Partial(Model.ThemeFolder + "/MiscPageElements/NotificationDurationVariable", Model)
    @Html.Partial(Model.ThemeFolder + "/WebsiteHeadSection/HeaderScripts", Model)
</head>
<body @RenderSection("BodyTag", false)>

    @if (backgroundImageStyle.HasValue())
    {
        <div class="image background-image body-background-image" @Html.Raw(backgroundImageStyle)></div>
    }

    @Html.Partial(Model.ThemeFolder + "/MiscPageElements/AfterOpeningBodyScripts", Model)

    <!-- Skip to content -->
    <a class="skip-to-content sr-only sr-only-focusable" href="#site-content">@Umbraco.GetDictionaryValue("USN Skip to Content")</a>
    <!--// Skip to content -->
    <!-- Site -->
    <div id="site">

        <!-- Header -->
        @Html.Partial(Model.ThemeFolder + "/WebsiteHeadSection/HeaderSection", Model)
        <!--// Header -->
        <!-- Content -->
        <main id="site-content">

            @Html.Partial(Model.ThemeFolder + "/BlockContainers/TopComponents", Model)
            @RenderBody()
            @Html.Partial(Model.ThemeFolder + "/BlockContainers/BottomComponents", Model)

        </main>
        <!--// Content -->
        <!-- Footer -->
        @Html.Partial(Model.ThemeFolder + "/WebsiteFooterSection/FooterSection", Model)
        <!--// Footer -->

    </div>
    <!--// Site -->

    @Html.Partial(Model.ThemeFolder + "/MiscPageElements/Notification", Model)
    @Html.Partial(Model.ThemeFolder + "/WebsiteFooterSection/FooterScripts", Model)
    @Html.Partial(Model.ThemeFolder + "/MiscPageElements/BeforeClosingBodyScripts", Model)

</body>

<!--
    ____        _ ____              _ __  __             _____ __   _                      __
   / __ )__  __(_) / /_   _      __(_) /_/ /_     __  __/ ___// /__(_)___  ____  ___  ____/ /
  / __  / / / / / / __/  | | /| / / / __/ __ \   / / / /\__ \/ //_/ / __ \/ __ \/ _ \/ __  /
 / /_/ / /_/ / / / /_    | |/ |/ / / /_/ / / /  / /_/ /___/ / ,< / / / / / / / /  __/ /_/ /
/_____/\__,_/_/_/\__/    |__/|__/_/\__/_/ /_/   \__,_//____/_/|_/_/_/ /_/_/ /_/\___/\__,_/

Find out more at uSkinned.net

-->
@if (UmbracoContext.InPreviewMode)
{
    @Html.Partial("DesignPanel/DesignPanel")
}
</html>