@inherits USNStarterKit.ViewPages.USNViewPage<USNStarterKit.Models.USNBaseViewModel>

@{
    if (!Model.Content.Value<bool>("hideWebsiteFooterSection"))
    {
        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;
        Usnfooter footer = (Usnfooter)Model.Footer;
        Usnstyle websiteStyle = (Usnstyle)Model.WebsiteStyle;
        string backgroundImageStyle = USNThemeService.GetBackgroundImageStyle(websiteStyle.FooterBgimageOptions, websiteStyle.FooterBackgroundImage);

        var pods = footer.FooterItems;
        string uniqueID = Guid.NewGuid().ToString();

        <footer id="site-footer" class="@websiteStyle.StyleColors.footerBackgroundClass">
            @if (backgroundImageStyle.HasValue())
            {
                <div class="image background-image footer-background-image" @Html.Raw(backgroundImageStyle)></div>
            }

            <!-- Breadcrumb -->
            @Html.Partial(Model.ThemeFolder + "/Navigation/Breadcrumb", Model)
            <!--// Breadcrumb -->
            
            <div class="container">

                @if (pods != null && pods.Any())
                {
                    <!-- Row -->
                <div class="row listing">

                    @for (int i = 0; i < pods.Count(); i++)
                    {
                        var item = footer.FooterItems.ElementAt(i);
                        var itemColumnSettings = item.Settings != null ? item.Settings : item.Content;

                        var previousItem = i > 0 ? footer.FooterItems.ElementAt(i - 1) : null;

                        string leftOffsetDesktop = (previousItem != null && previousItem.Content.ContentType.Alias == Usn_Pb_SpacerColumn.ModelTypeAlias && previousItem.Content.Value<int>("desktopColumnWidth") != 0) ? "offset-lg-" + previousItem.Content.Value<int>("desktopColumnWidth").ToString() : String.Empty;
                        string leftOffsetTablet = (previousItem != null && previousItem.Content.ContentType.Alias == Usn_Pb_SpacerColumn.ModelTypeAlias && previousItem.Content.Value<int>("tabletColumnWidth") != 0) ? "offset-md-" + previousItem.Content.Value<int>("tabletColumnWidth").ToString() : String.Empty;
                        string colWidthDesktop = "col-lg-" + itemColumnSettings.Value<int>("desktopColumnWidth").ToString();
                        string colWidthTablet = "col-md-" + itemColumnSettings.Value<int>("tabletColumnWidth").ToString();

                        if (item.Content.ContentType.Alias != Usn_Pb_SpacerColumn.ModelTypeAlias)
                        {
                            var podItem = new USNBlock(Model, item);
                            var itemCommonBlockSettings = (IUsn_Cmp_CommonBlockSettings)podItem.BlockSettings;

                            if (podItem.BlockContent.ContentType.Alias.GetBlockViewName() == "RelatedContent" || podItem.BlockContent.ContentType.Alias.GetBlockViewName() == "TextImage")
                            {
                                @Html.Partial(Model.ThemeFolder + "/Blocks/" + podItem.BlockContent.ContentType.Alias.GetBlockViewName(), podItem, new ViewDataDictionary { { "blockLocation", "footer" }, { "backgroundColorLabel", "footer" }, { "uniqueID", uniqueID }, { "leftOffsetDesktop", leftOffsetDesktop }, { "leftOffsetTablet", leftOffsetTablet }, { "colWidthDesktop", colWidthDesktop }, { "colWidthTablet", colWidthTablet } })
                            }
                            else
                            {
                                <div class="item footer-item usn_pod_@podItem.BlockContent.ContentType.Alias.GetBlockStyleName() @leftOffsetDesktop @leftOffsetTablet @colWidthDesktop @colWidthTablet col-12 col @itemCommonBlockSettings.CustomClasses">
                                    @if (!podItem.BlockSettings.Value<bool>("hideFromWebsite"))
                                    {
                                        <div class="inner">
                                            @Html.Partial(Model.ThemeFolder + "/Blocks/" + podItem.BlockContent.ContentType.Alias.GetBlockViewName(), podItem, new ViewDataDictionary { { "blockLocation", "footer" }, { "backgroundColorLabel", "footer" }, { "uniqueID", uniqueID } })
                                        </div>
                                    }
                                </div>

                            }
                        }
                    }

                </div>
                    <!--// Row -->
                }
                <!-- Row -->
                <div class="row">

                    <div class="col">
                        <nav aria-label="Footer Navigation" class="footer-navigation">
                            <ul>
                                <li><div>&copy; @DateTime.Now.ToString("yyyy") @footer.CopyrightMessage</div></li>
                                @Html.Partial(Model.ThemeFolder + "/Navigation/FooterNavigation", Model)
                                <li class="site-credit">
                                    <div>Made with </div>
                                    <span><a target="_blank" rel="noopener" title="@Umbraco.GetDictionaryValue("USN New Window Title Tag")" href="http://www.uskinned.net">uSkinned</a></span>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <!--// Row -->

                @Html.Partial(Model.ThemeFolder + "/MiscPageElements/BackToTop", Model)

            </div>
        </footer>

    }
}