@inherits USNStarterKit.ViewPages.USNViewPage<USNStarterKit.Models.USNBaseViewModel>

@{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

    string metaTitle = String.Empty;
    string openGraphImage = String.Empty;

    var siteName = globalSettings.WebsiteName;

    var canonical = Model.Content.HasValue("overrideCanonicalURL") ? Model.Content.Value<string>("overrideCanonicalURL") :  Model.Content.Url(mode: UrlMode.Absolute);

    string index = Model.Content.Value<bool>("hideFromSearchEngines") ? "noindex" : "index";
    string follow = Model.Content.Value<bool>("stopInternalLinksBeingFollowed") ? "nofollow" : "follow";

    if (Model.Content.Value<USNSEOMeta>("titleAndDescription") != null && Model.Content.Value<USNSEOMeta>("titleAndDescription").Title != String.Empty)
    {
        metaTitle = Model.Content.Value<USNSEOMeta>("titleAndDescription").Title;
    }
    else
    {
        metaTitle = Model.Content.Name + " | " + siteName;
    }

    var metaDescription = Model.Content.Value<USNSEOMeta>("titleAndDescription") != null ? Model.Content.Value<USNSEOMeta>("titleAndDescription").Description : String.Empty;

    if (Model.Content.Value<IPublishedContent>("openGraphImage") != null)
    {
        openGraphImage = Model.Content.Value<IPublishedContent>("openGraphImage").Url(mode: UrlMode.Absolute);
    }
    else if (globalSettings.DefaultOpenGraphImage != null)
    {
        openGraphImage = globalSettings.DefaultOpenGraphImage.Url(mode: UrlMode.Absolute);
    }

    if (Model.Content.IsDocumentType(UsnblogLandingPage.ModelTypeAlias))
    {
        int year = int.TryParse(Request.QueryString["year"], out year) ? year : 0;
        int month = int.TryParse(Request.QueryString["month"], out month) ? month : 0;

        if (year != 0 && month == 0)
        {
            metaTitle = year + " | " + metaTitle + " | " + siteName;
        }
        else if (year != 0 && month != 0)
        {
            metaTitle = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month) + " | " + year + " | " + metaTitle + " | " + siteName;
        }

    }

    <link rel="canonical" href="@canonical" />
    <title>@metaTitle</title>
    <meta name="description" content="@metaDescription">
    foreach (var culture in Model.Content.Cultures)
    {
        string url = Model.Content.Url(culture: culture.Key, mode: UrlMode.Absolute);

        if (!string.IsNullOrEmpty(url) && url != "#")
        {
            <link rel="alternate" href="@Model.Content.Url(culture: culture.Key, mode: UrlMode.Absolute)" hreflang="@culture.Key" />
        }
    }
    if (globalSettings.TwitterSiteUsername.HasValue() || Model.Content.HasValue("twitterCreatorUsername"))
    {
        <meta name="twitter:card" content="summary" />
    }
    if (globalSettings.TwitterSiteUsername.HasValue())
    {
        <meta name="twitter:site" content="@("@" + globalSettings.TwitterSiteUsername)" />
    }
    if (Model.Content.HasValue("twitterCreatorUsername"))
    {
        <meta name="twitter:creator" content="@("@" + Model.Content.Value<string>("twitterCreatorUsername"))" />
    }
    <meta property="og:type" content="website">
    <meta property="og:title" content="@metaTitle" />
    <meta property="og:image" content="@openGraphImage" />
    <meta property="og:url" content="@canonical" />
    <meta property="og:description" content="@metaDescription" />
    <meta property="og:site_name" content="@siteName" />
    <meta name="robots" content="@index,@follow">
}